---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import MarkdownEditor from '../components/MarkdownEditor'
---

<Layout title="Markdownエディタデモ">
  <main class="container mx-auto px-4 py-8">
    <h1 class="mb-8 text-center text-4xl font-bold">Markdownエディタデモページ</h1>
    <MarkdownEditor client:load fileName="document.md" />
  </main>

  <script src="../scripts/index.js"></script>
</Layout>
